{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<div id="createform">
    {{ form_start(form) }}
        <div class="input-cont">
            <div class="flex-1">
                {{ form_label(form.create_date, 'Fecha de creación*', { 'attr': {'class': 'foo'} }) }}
                {{ form_widget(form.create_date) }}
                {{ form_errors(form.create_date) }}
            </div>
            <div class="flex-1">
                {{ form_label(form.modify_date, 'Fecha de modificación') }}
                {{ form_widget(form.modify_date) }}
                {{ form_errors(form.modify_date) }}
            </div>
            <div class="flex-1">
                {{ form_label(form.user_ip, 'Ip del usuario*') }}
                {{ form_widget(form.user_ip, { 'attr': {'id': 'ip-user'} }) }}
                {{ form_errors(form.user_ip) }}
            </div>
            <div class="flex-1">
                {{ form_label(form.user_agent, 'Navegador*', { 'attr': {'id': 'user-agent'} }) }}
                {{ form_widget(form.user_agent) }}
                {{ form_errors(form.user_agent) }}
            </div>
            <div class="flex-1">
                {{ form_label(form.indicative_country, 'Indicativo país*') }}
                {{ form_widget(form.indicative_country) }}
                {{ form_errors(form.indicative_country) }}
            </div>
            <div class="flex-1">
                {{ form_label(form.event_key, 'Codigo de evento*') }}
                {{ form_widget(form.event_key) }}
                {{ form_errors(form.event_key) }}
            </div>
        </div>
            {{ form_row(form.Guardar, { 'attr': {'class': 'btn-submit'} }) }}
    {{ form_end(form, {'render_rest': true}) }}
</div>
{% endblock %}
{% block javascripts %}
<script src="{{ asset('build/js/setIpSetUserAgent.js')}}"></script>
{% endblock %}