{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<div>
    {{ form_start(form) }}
        <div class="my-custom-class-for-errors">
            {{ form_errors(form) }}
        </div>

        <div class="row">
            <div class="col">
                {{ form_row(form.create_date) }}
            </div>
            <div class="col">
                {{ form_row(form.modify_date) }}
            </div>
        </div>
    {{ form_end(form, {'render_rest': true}) }}
</div>
{% endblock %}