{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#ID</th>
            <th scope="col">Fecha de creacion</th>
            <th scope="col">Ip del usuario</th>
            <th scope="col">User agent</th>
            <th scope="col">Indicativo</th>
            <th scope="col">Codigo evento</th>
        </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <th scope="row">{{ event.id }}</th>
                <td>{{ event.create_date |date("m/d/Y")}}</td>
                <td>{{ event.user_ip }}</td>
                <td>{{ event.user_agent }}</td>
                <td>{{ event.indicative_country }}</td>
                <td>{{ event.event_key }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
