{% extends 'base.html.twig' %}

{% block title %}Lista de eventos{% endblock %}

{% block body %}
    <div id="list-events">
        <table class="table table-bordered table-sm">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#ID</th>
                <th scope="col">Fecha de creación</th>
                <th scope="col">Fecha de modificación</th>
                <th scope="col">Ip del usuario</th>
                <th scope="col"> <i class="fas fa-globe"></i> Navegador</th>
                <th scope="col">Código país</th>
                <th scope="col">Código evento</th>
                <th scope="col">Acciones</th>
            </tr>
            </thead>
            <tbody>
            {% for event in events %}
                <tr>
                    <th scope="row">{{ event.id }}</th>
                    <td>{{ event.create_date |date("Y-m-d")}}</td>
                    <td>{{ event.modify_date |date("Y-m-d")}}</td>
                    <td>{{ event.user_ip }}</td>
                    <td> <span class="text ellipsis" data-toggle="tooltip" data-placement="top" title="{{ event.user_agent }}">{{ event.user_agent }}</span></td>
                    <td>{{ event.indicative_country }}</td>
                    <td>{{ event.event_key }}</td>
                    <td><a href="{{ path('update', {id:event.id } ) }}"><i id="iconsFont" class="fas fa-edit"></i></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
